<launch>
  <arg name="map_file"  default="emptyBox"/>

  <!--  ************** Global Parameters ***************  -->
  <param name="/use_sim_time" value="true"/>

  <!--  ************** Stage Simulator *****************  -->
  <node pkg="stage_ros" type="stageros" name="stageros" args="$(find teb_local_planner_tutorials)/stage/$(arg map_file).world">
    <remap from="/robot_0/base_scan" to="/robot_0/scan"/>
  </node>

  <!--  ******************* Maps ***********************  -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find teb_local_planner_tutorials)/maps/$(arg map_file).yaml" output="screen">
    <param name="frame_id" value="map"/>
  </node>

  <!-- ******** Localization ********* -->
  <!-- See stage world file for initial poses -->
  <node pkg="tf" type="static_transform_publisher" name="perfect_loc_robot" args="-2 0 0 -1.570796 0 0 /map robot_0/odom 100" />
  <node pkg="tf" type="static_transform_publisher" name="perfect_loc_obstacle" args="0 1 0 0 0 0 /map robot_1/odom 100" />

   <!--  ************* Navigation Ego Robot ************  -->
  <group ns="robot_0">
    <param name="tf_prefix" value="robot_0"/>
    <!-- work around for footprint reload -->
    <rosparam command="delete" ns="move_base" />

    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
      <rosparam file="$(find teb_local_planner_tutorials)/cfg/diff_drive/costmap_common_params.yaml" command="load" ns="global_costmap" />
      <rosparam file="$(find teb_local_planner_tutorials)/cfg/diff_drive/costmap_common_params.yaml" command="load" ns="local_costmap" />
      <rosparam file="$(find teb_local_planner_tutorials)/cfg/diff_drive/local_costmap_params.yaml" command="load" />
      <rosparam file="$(find teb_local_planner_tutorials)/cfg/diff_drive/global_costmap_params.yaml" command="load" />
      <rosparam file="$(find teb_local_planner_tutorials)/cfg/diff_drive/teb_local_planner_params.yaml" command="load" />
      <!-- Here we load our costmap conversion settings -->
      <!--rosparam file="$(find teb_local_planner_tutorials)/cfg/diff_drive/costmap_converter_params.yaml" command="load" /-->

      <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
      <param name="controller_frequency" value="5.0" />
      <param name="controller_patience" value="15.0" />
      <remap from="map" to="/map"/>
    </node>
  </group>

  <!-- ******************* Obstacles ******************* -->
  <group ns="robot_1">
    <param name="tf_prefix" value="robot_1"/>
    <node name="Mover" pkg="teb_local_planner_tutorials" type="move_obstacle.py" output="screen"/>
      <param name="pos_ub" value="2.0" />
      <param name="pos_lb" value="-2.0" />
    <node name="visualize_obstacle_velocity_profile" pkg="teb_local_planner_tutorials" type="visualize_obstacle_velocity_profile.py" output="screen" />
  </group>

  <node name="standalone_converter" pkg="costmap_converter" type="standalone_converter" output="screen">
    <param name="converter_plugin" value="costmap_converter::CostmapToDynamicObstacles" />
    <param name="costmap_topic" value="/robot_0/move_base/local_costmap/costmap" />
    <param name="odom_topic" value="/robot_0/odom" />
  </node>

  <!--  **************** Visualisation ****************  -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find teb_local_planner_tutorials)/cfg/rviz_navigation_cc.rviz">
    <remap from="/move_base_simple/goal" to="/robot_0/move_base_simple/goal" />
  </node>

</launch>
